.container
  %h1 Calculate your Love Connection!
  %p Enter the name of your love as well as your own. We'll let you know if you're a match and, if so, generate a message just for your special someone!

  .calculate-form
    = simple_form_for @love do |f|
      = f.input :love_name, label: 'Your love\'s name'
      = f.input :your_name, label: 'Your name'
      = f.submit
