.container
  %h1 Calculate your Love Connection!
  %p Enter the name of your love as well as your own. We'll let you know if you're a match and, if so, generate a message just for your special someone!

  .calculate-form
    = form_tag '/lovers' do
      = text_field_tag 'love_name', nil, placeholder: 'Your love\'s name'
      = text_field_tag 'your_name', nil, placeholder: 'Your name'
      = submit_tag 'Calculate'
